@charset 'UTF-8';

body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1{
  margin: 20px auto 0;
  padding-top: 2px;
  width: fit-content;
  background-color: rgb(244, 229, 209);
  border: 8px outset rgb(200, 199, 199);
}

div#screen{
  margin: 20px auto;
  width: 600px;
  height: 650px;
  background-color: rgb(205, 214, 201);
  border: 5px dashed lightslategray;
  text-align: center;
}

div#content{
  margin: 0;
  padding: 3px 0 0;
  line-height: 8px;
  font-size: 22px;
  font-weight: bold;
}


ul{
  margin: 0;
  padding: 0;
}

div#game{
  margin: 30px auto;
  width: 90%;
  height: 65%;
  background-color: rgb(244, 229, 209);
}

p#roman{
  margin: 10px auto 0;
  padding: 20px;
  font-size: 30px;
  display: inline-block;
}

p#saying{
  margin: 0 auto 20px;
  font-size: 50px;
  font-weight: bold;
}

p#meaning{
  margin: 20px auto;
  font-size: 20px;
  word-break: keep-all;
  line-height: 1.5;
  display: inline-block;
}

p#p{
  margin: 0;
  font-size: 20px;
}

div#imi{
  margin: 10px auto;
  width: 88%;
  height: 40%;
  border: 2px solid rgb(247, 194, 130);
}

div#timer{
  margin: 0;
  padding: 0;
}

strong{
  border-bottom: 5px solid red;
}

/* #button{
  width: 100px;
  height: 50px;
  background-color: rgb(242, 175, 74);
  border: 2px solid black;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
} */
